<?xml version="1.0"?>
<model>
  <name>turtlebot3_burger</name>
    <author>
    <name>Luis Pinto</name>
    <email>luis.pinto@mov.ai</email>
  </author>
  <sdf version="1.7">model.sdf</sdf>
  <description>
     turtlebot edited/forked from https://github.com/ROBOTIS-GIT/turtlebot3_simulations/
  </description>
</model>

